<!DOCTYPE html>
<html>
  <head>
    <title>Main Page | Home</title>
  </head>
  <body>
    <h1>Rock, Paper, Scissors, Spock, Lizard Game</h1>
    <p>
    	You are playing the 
    	Rock, Paper, Scissors, Spock, Lizard Game. 
	Please select a valid selection for the game. 
	Select: Rock, Paper, Scissors, Spock, or Lizard
    </p>
  </body>
</html>
